@using strings = EbaNews.Resources.Web.Areas.Home.LayoutStrings;
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112475386-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112475386-1');
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="@strings.SiteMoto" />
    <meta property="og:image" content="/Content/images/logo.png" />
    <title>Epic News</title>
    @Styles.Render("~/css/home")
    @Scripts.Render("~/libs/home")
    @Scripts.Render("~/app/home")
</head>
<body ng-app="home" ng-controller="mainController">
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <strong class="logo"><a href="@Url.Action("Index", "Home")"><img src="/Content/images/logo.png" alt="Epic News..."><span>@strings.SiteMoto</span></a></strong>
                <div class="btns">
                    <button class="btn btn-style-1" ng-click="openAboutUsModal()">@strings.AboutUs</button>
                    <button class="btn btn-style-2" ng-click="openSuggestNewsModal()">@strings.SuggestNews</button>
                </div>
                <lang-selector></lang-selector>
            </div>
        </header>

        <main id="main">
            @RenderBody()
        </main>

        <footer id="footer">
            <div class="container">
                <div class="box">
                    <h2><small>@strings.DidYouLikeTheNews</small>@strings.YouCanAddYour</h2>
                    <a href="javascript:void(0);" ng-click="openSuggestNewsModal()" class="btn btn-style-2">@strings.SuggestNews</a>
                </div>
                <ul class="list">
                    @*<li><a href="#"><span class="icon-mail"></span>epicnews.com</a></li>*@
                    <li><a href="javascript:void(0);" ng-click="openAboutUsModal()" class="about-opener">@strings.AboutUsFooter</a></li>
                </ul>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>