<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EbaNews</title>
    @Styles.Render("~/css/home")
    @Scripts.Render("~/libs/home")
    @Scripts.Render("~/app/home")
</head>
<body ng-app="home">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("EbaNews", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#suggest-modal">Suggest</button>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>