@using strings = EbaNews.Resources.Default.Web.Areas.Admin.Views.HomeStrings
@model EbaNews.Web.Areas.Admin.Models.Home.ChangePasswordViewModel

@{
    ViewBag.Title = @strings.ChangePasswordPageTitle;
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 margin-top-20">
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm("ChangePassword", "Home"))
                    {
                        @Html.AntiForgeryToken();
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.CurrentPassword, new { @class = "form-control", @type = "password", @placeholder = strings.CurrentPassword })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @type = "password", @placeholder = strings.NewPassword })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "password", @placeholder = strings.ConfirmPassword })
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="@strings.ChangePasswordButton">
                                    </div>
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

