@using usersStr = EbaNews.Resources.Default.Web.Areas.Admin.Views.UsersStrings
@using commonStr = EbaNews.Resources.Default.Web.Areas.Admin.Views.CommonStrings

@{
    ViewBag.Title = @usersStr.UsersTitle;
}

<div class="container" ng-controller="usersController">
    <div class=" margin-top-30 col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center" ng-if="loading">
            <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
            <span class="sr-only">@commonStr.Loading</span>
        </div>
        <table class="table table-bordered" ng-if="!loading">
            <thead>
                <tr class="warning">
                    <th class="text-center">@usersStr.Name</th>
                    <th class="text-center hidden-xs">@usersStr.Email</th>
                    <th class="text-center col-xs-1">@usersStr.User</th>
                    <th class="text-center col-xs-1">@usersStr.Admin</th>
                    <th class="text-center col-xs-1">@usersStr.Owner</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users" ng-class="{ 'bg-info': user.Name == '@Context.User.Identity.Name' }">
                    <td ng-bind="user.Name"></td>
                    <td class="hidden-xs" ng-bind="user.Email"></td>
                    <td class="text-center">
                        <i ng-if="isInRole(user, 'user')" class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td class="text-center">
                        <input ng-checked="isInRole(user, 'admin')" ng-click="switchAdminRole(user)" type="checkbox" />
                    </td>
                    <td class="text-center">
                        <input ng-checked="isInRole(user, 'owner')" ng-click="switchOwnerRole(user)" type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/admin/users")