@using newsStr = EbaNews.Resources.Default.Web.Areas.Admin.Views.NewsStrings
@using commonStr = EbaNews.Resources.Default.Web.Areas.Admin.Views.CommonStrings

@{
    ViewBag.Title = @newsStr.NewsTitle;
}

<div class="container" ng-controller="newsController">
    <div class=" margin-top-30 col-xs-12 col-sm-10 col-sm-offset-1">
        <button class="btn btn-primary margin-bot-20" ng-click="openAddNewsModal()">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;@newsStr.AddNews
        </button>
        <div class="text-center" ng-if="loading">
            <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
            <span class="sr-only">@commonStr.Loading</span>
        </div>
        <table class="table table-bordered" ng-if="!loading">
            <thead>
                <tr class="warning">
                    <th class="text-center">@newsStr.Title</th>
                    <th class="text-center">@newsStr.LinkToSource</th>
                    <th class="text-center">@newsStr.PublicationDate</th>
                    <th class="text-center">@newsStr.Language</th>
                    <th class="text-center">@newsStr.Online</th>
                    <th class="text-center">@newsStr.Edit</th>
                    @if (Context.User.IsInRole("owner"))
                    {
                        <th class="text-center">@commonStr.Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="news in newsList">
                    <td ng-bind="news.Title"></td>
                    <td class="text-center">
                        <a ng-if="news.LinkToArticle != '' && news.LinkToArticle != null" href="{{news.LinkToArticle}}" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td class="text-center" ng-bind="convertDate(news.PublicationDate)"></td>
                    <td class="text-center" ng-bind="news.Language.Name"></td>
                    <td class="text-center">
                        <input ng-click="switchOnlineStatus(news)" ng-model="news.Online" type="checkbox" />
                    </td>
                    <td class="text-center">
                        <a href="javascript:void(0);" ng-click="openEditModal(news)">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                    </td>
                    @if (Context.User.IsInRole("owner"))
                    {
                        <td class="text-center">
                            <a href="javascript:void(0);" ng-click="deleteNews(news.Id)">
                                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                            </a>
                        </td>
                    }
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation" class="text-center" ng-if="!loading && totalPages() > 1">
            <ul class="pagination">
                <li ng-class="{ active: page == $index + 1}" ng-repeat="n in pages() track by $index">
                    <a href="#" ng-bind="$index + 1" ng-click="setPage($index + 1)"></a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Add modal -->
    <div id="add-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">@newsStr.AddNews</h4>
                    <div class="margin-top-20">
                        <div class="form-group" ng-class="{ 'has-success has-feedback': !addNewsValidation.titleInvalid() }">
                            <input ng-model="newNews.Title" class="form-control" type="text" placeholder="@newsStr.NewsTitlePlaceholder" />
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="!addNewsValidation.titleInvalid()"></span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-success has-feedback': !addNewsValidation.linkInvalid() }">
                            <input ng-model="newNews.LinkToArticle" class="form-control" type="text" placeholder="@newsStr.LinkToSourcePlaceholder" />
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="!addNewsValidation.linkInvalid()"></span>
                        </div>
                        <div class="form-group">
                            <select class="form-control"
                                    ng-model="newNews.Language"
                                    ng-options="language.Name for language in languages"></select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="addNews()" ng-class="{ disabled: addNewsValidation.formInvalid() }">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;@newsStr.AddNews
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit modal -->
    <div id="edit-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">@newsStr.EditNews</h4>
                    <div class="margin-top-20">
                        <div class="form-group" ng-class="{ 'has-error has-feedback': editNewsValidation.titleInvalid() }">
                            <input ng-model="editingNews.Title" class="form-control" type="text" placeholder="@newsStr.NewsTitlePlaceholder" />
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="editNewsValidation.titleInvalid()"></span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error has-feedback': editNewsValidation.linkInvalid() }">
                            <input ng-model="editingNews.LinkToArticle" class="form-control" type="text" placeholder="@newsStr.LinkToSourcePlaceholder" />
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="editNewsValidation.linkInvalid()"></span>
                        </div>
                        <div class="form-group">
                            <select class="form-control"
                                    ng-model="editingNews.Language"
                                    ng-options="language.Name for language in languages"></select>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="editingNews.Online" type="checkbox" />
                                    @newsStr.Online
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="editNews()" ng-class="{ disabled: editNewsValidation.formInvalid() }">@commonStr.Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/admin/news")