@using strings = EbaNews.Resources.Default.Web.Areas.Admin.Views.HomeStrings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@strings.ApplicationName - @ViewBag.Title</title>
    @Styles.Render("~/Content/admin-css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(strings.Home, "Index", "Home")</li>
                        <li>@Html.ActionLink(strings.News, "Index", "News")</li>
                        <li>@Html.ActionLink(strings.SuggstedNews, "Index", "SuggestedNews")</li>
                        @if (Context.User.IsInRole("owner"))
                        {
                            <li>@Html.ActionLink(strings.Users, "Index", "Users")</li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;@Context.User.Identity.Name&nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(strings.ChangePassword, "ChangePassword", "Home")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink(strings.Logout, "Logout", "Home")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
